@charset "UTF-8";
@media screen and (max-width: 601px){
/* CSS Document */


html{
	overflow: auto;
}

body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	overflow: hidden;
	background-color: #fff;
}


h1{
text-indent:-9000px;
}

/*container*/
#container{
margin: 0 auto;
background-color: #fff;
}


/*nav1*/
#nav1 {
clear: both;

}

#nav1 ul{
clear: both;
padding-top: 18px;
}

#nav1 li{
text-align: center;
margin: 10px;
}

#nav1 li:hover {

background-color:rgba(240, 240, 240, 0.85);
font-size: 30px;
border-radius: 3px;
text-align: center;
box-shadow: 5px -5px 2.5px rgba(0,0,0,0.7);
}


#nav1 a{
font-size: 25px;
font-weight: 600;
color: #666;
}



/*h_top*/

#h_top li{
	color: black;
}

#h_top{
	line-height: 1.5em;
	float: right;
	width: 40%;
	font-size: 0.75em;
	margin-top: 50px;
}

#logo_image{
float: left;
}
#wrapper {
	background-color: #fff;

	margin: 0 auto;
}

/*main_image*/
#main_image_b{
	margin: 0 -100%;
	padding: 0 100%;
}

#main_image_1{
	margin: 0 -448px;
}


#main_image_1{
	float: left 0,0,0,-800px;
}



article{
	margin-bottom: 50px;
}
/*nav2*/

#nav2 li{
	margin: 0 auto;
	padding-bottom: 300px;
}
#nav2 ul{
display: flex;
flex-flow: column;

}
#nav2 ul li a {
	display:block;
	width:250px;
	height:50px;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	color: #457;
	background-color: #fff;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}



#nav2 ul li img {
margin-top: 10px;
border-radius: 50%;
transition-property: all;
transition-duration: 0.5s;
transition-timing-function: ease-in-out;
}

#nav2 li a:hover {
		color: #579;
		background-color:rgba(255, 255, 255, 0.85);
		font-size: 55px;
		border-radius: 3px;
		text-indent: 10px;
	}


#nav2 ul li img:hover {
	margin-top: 25px;
	border-radius: 10%;
}


/*nav3*/

#nav3{
border-bottom: 2px #456 solid;
line-height: 2.2;
text-align: center;
text-decoration: underline;
}

#nav3 ul{
margin-left: 15px;
}

#nav3 a{
text-decoration: none;
}


/*news*/
#news{

	height: 250px;
	margin: 0 auto;
	margin-bottom: 100px;
	border: 2px #aaa solid;
	background-color: #eee;
	overflow: scroll;

}

#news dl{
padding: 10px;
font-size: 20px;
}


#news dl dt{
border-bottom: 1px #987 solid;
margin: 15px;
padding-top: 15px;
font-size: 15px;
color: black;

}

#news dl dd{
margin: 10px;
margin-left: 40px;
font-size: 12px;
color: black;
}

#news dl{
padding: 10px;
font-size: 20px;
}
	
#menu{
  border: none;
}
	
h3{
border-top: 2px #456 solid;
color: black;
margin-bottom: 15px;
font-size: 40px;
font-weight: 700;
font-family: 'Dancing Script', cursive;
text-align: center;
}

#wrapper {
background-color: #fff;
margin: 0 auto;
				}

/*main_image*/
#main_image_b{
margin: 0 -100%;
padding: 0 100%;
}

#main_image_1{
margin: 0 -448px;
float: left 0,0,0,-800px;
}


small{
text-align: center;
}
/*sns*/
#sns{
display: flex;
align-items: center;
}

#sns img{
	margin-left: 10px;
}



.hdn{
color: #00aeef;
text-decoration: none;
margin-left: 10px;
}

#hdn_2{
	font-size: 5px;
}

#hdn_3{
	font-size: 11px;
}

.pagetop {
    display: none;
    position: fixed;

}
.pagetop a {
    display: block;
    background-color: #FEB;
		border-radius: 10%;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 25px 30px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
		border-radius: 10%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:25px 30px;
		filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
		transition-property: all;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
}

/* リクルートボタン */
#recruit a{
  max-width: 300px;
  margin: 0 auto;
}

#recruit p{
	color: black;
	line-height: 1.5em;
	padding: 18px;
}
a.btn_03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #228bc8;
  border: 1px solid #228bc8;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
}
a.btn_03:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
a.btn_03:hover {
  background: #fff;
  color: #228bc8;
}
a.btn_03:hover:before {
  border-top: 2px solid #228bc8;
  border-right: 2px solid #228bc8;
}


footer{
	border-top: 2px #456 solid;
	margin: auto;
	padding-top:18px;
	padding-bottom:25px;
	text-align:center;
	font-size:12px;
	color:#333;
	}

}
